<div class="formulas-list">
    <% @formulas.each_slice(3) do |formula_row| %>
    <div class="row">
        <% formula_row.each do |formula| %>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10"><h3><%= link_to formula.title, formula_path(formula) %></h3></div>
                        <div class="col-sm-2">
                            <div class="formula-card-header-small">
                                <small class="text-muted formula-card-star<%= user_signed_in? && current_user.starred?(formula) && ' starred' || '' %>">
                                    <%= content_tag('i', nil, class: 'octicon octicon-star') %>
                                    <%= formula.stars_count %>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-formula">
                        <h3>$<%= formula.expression %>$</h3>
                    </div>
                    <div class="formula-card-block-small">
                        <small class="text-muted formula-card-time">Created at <%= formula.created_at.to_s %></small>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>