<h1>New Formula</h1>
<%= form_for :formula, url: formulas_path do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :expression %><br>
        <%= f.text_area :expression %>
    </p>
    <p>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
