<%= form_for :formula, url: formulas_path do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control', :placeholder => 'New Formula' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :expression, '$\rm\LaTeX$ Expression' %>
    <%= f.text_area :expression, :class => 'form-control', :rows => '4', :placeholder => 'a^2+b^2=c^2' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :content, 'Description' %><br>
    <%= f.text_area :content, :class => 'form-control', :rows => '20', :placeholder => '** Describe the formula **' %>
  </fieldset>
  <p>
    <%= f.submit :class => 'btn btn-primary' %>
  </p>
<% end %>
