<!DOCTYPE html>
<html>
  <head>
    <title>ShareMath</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if user_signed_in? %>
            <li role="presentation"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
            <li role="presentation"><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
        <h3><%= link_to "ShareMath", root_path %></h3>
      </div>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-dismissible alert-<%= key %>" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full">
    </script>
  </body>
</html>
