<!DOCTYPE html>
<html>
  <head>
    <title>ShareMath</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-light">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <%= link_to "ShareMath", root_path, :class => 'navbar-brand' %>
            <ul class="nav navbar-nav">

              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'nav-link') %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Register", new_user_registration_path, :class => 'nav-link' %>
              </li>
              <% end %>
            </ul>
            <form class="form-inline pull-xs-right">
              <input class="form-control" type="text" placeholder="Search">
              <button class="btn btn-success-outline" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-dismissible alert-<%= key %>" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full">
    </script>
  </body>
</html>
